#### SQLite
- RDBMS(관계형 데이터베이스)
- 서버가 아니라 응용 프로그램에 넣고 사용하는 가벼운 데이터베이스
- python, 핸드폰, 스프링부트

In [1]:
import sqlite3
import datetime

print("sqlite3 version", sqlite3.version)
print("sqlite3 version", sqlite3.sqlite_version)

now=datetime.datetime.now()
nowDateTime=now.strftime("%Y-%m-%d %H:%M:%S")
print("date", nowDateTime)

sqlite3 version 2.6.0
sqlite3 version 3.42.0
date 2023-06-23 10:41:56

In [2]:
from datetime import datetime
print(datetime.now())

2023-06-23 10:47:34.601438

#### 데이터베이스 생성

In [3]:
conn=sqlite3.connect("/source/pythonsource/resource/test.db", isolation_level=None)

In [4]:
cursor=conn.cursor()

In [7]:
cursor.execute("create table if not exists users(id integer primary key, username text, email text," 
               "phone text, website text, regdate text)")

In [16]:
cursor.execute("insert into users(id, username, email, phone, website, regdate) "
               "values(1, 'Kim', 'kim@naver.com', '010-1234-1234', 'kim.com', ?)",(nowDateTime,))

In [17]:
cursor.execute("insert into users(id, username, email, phone, website, regdate) "
               "values(?,?,?,?,?,?)",(2, 'Park', 'park@naver.com', '010-1234-4567', 'park.com', nowDateTime))

In [18]:
userList=((3, 'Park', 'park@naver.com', '010-1234-4567', 'park.com', nowDateTime),
          (4, 'Cho', 'Cho@naver.com', '010-6666-4567', 'Cho.com', nowDateTime),
          (5, 'Yoo', 'Yoo@naver.com', '010-3333-4567', 'Yoo.com', nowDateTime))
cursor.executemany("insert into users(id, username, email, phone, website, regdate) "
                   "values(?,?,?,?,?,?)", userList)

In [12]:
cursor.execute("delete from users")

In [13]:
# rowcount: 삭제된 행의 개수
cursor.execute("delete from users").rowcount

0

> 데이터 조회 - fetchone(), fetchmany(), fetchall()

In [19]:
cursor.execute("select*from users")

In [20]:
cursor.fetchone()

(1, 'Kim', 'kim@naver.com', '010-1234-1234', 'kim.com', '2023-06-23 10:41:56')

In [21]:
cursor.fetchmany(size=2)

[(2,
  'Park',
  'park@naver.com',
  '010-1234-4567',
  'park.com',
  '2023-06-23 10:41:56'),
 (3,
  'Park',
  'park@naver.com',
  '010-1234-4567',
  'park.com',
  '2023-06-23 10:41:56')]

In [22]:
cursor.fetchall() # 나머지 다 갖고 와

[(4,
  'Cho',
  'Cho@naver.com',
  '010-6666-4567',
  'Cho.com',
  '2023-06-23 10:41:56'),
 (5,
  'Yoo',
  'Yoo@naver.com',
  '010-3333-4567',
  'Yoo.com',
  '2023-06-23 10:41:56')]

In [23]:
for c in cursor.fetchall():
    print(c)

In [24]:
cursor.execute("select * from users")

for c in cursor.fetchall():
    print(c)

(1, 'Kim', 'kim@naver.com', '010-1234-1234', 'kim.com', '2023-06-23 10:41:56')
(2, 'Park', 'park@naver.com', '010-1234-4567', 'park.com', '2023-06-23 10:41:56')
(3, 'Park', 'park@naver.com', '010-1234-4567', 'park.com', '2023-06-23 10:41:56')
(4, 'Cho', 'Cho@naver.com', '010-6666-4567', 'Cho.com', '2023-06-23 10:41:56')
(5, 'Yoo', 'Yoo@naver.com', '010-3333-4567', 'Yoo.com', '2023-06-23 10:41:56')

In [25]:
for c in cursor.execute("select * from users order by id desc"):
    print(c)

(5, 'Yoo', 'Yoo@naver.com', '010-3333-4567', 'Yoo.com', '2023-06-23 10:41:56')
(4, 'Cho', 'Cho@naver.com', '010-6666-4567', 'Cho.com', '2023-06-23 10:41:56')
(3, 'Park', 'park@naver.com', '010-1234-4567', 'park.com', '2023-06-23 10:41:56')
(2, 'Park', 'park@naver.com', '010-1234-4567', 'park.com', '2023-06-23 10:41:56')
(1, 'Kim', 'kim@naver.com', '010-1234-1234', 'kim.com', '2023-06-23 10:41:56')

In [27]:
cursor.execute("select * from users where id=?", (3,))
cursor.fetchall()

[(3,
  'Park',
  'park@naver.com',
  '010-1234-4567',
  'park.com',
  '2023-06-23 10:41:56')]

In [28]:
cursor.execute("select * from users where id=%d" % 4)
cursor.fetchall()

[(4,
  'Cho',
  'Cho@naver.com',
  '010-6666-4567',
  'Cho.com',
  '2023-06-23 10:41:56')]

In [29]:
cursor.execute("select * from users where id in (?,?)", (3,5))
cursor.fetchall()

[(3,
  'Park',
  'park@naver.com',
  '010-1234-4567',
  'park.com',
  '2023-06-23 10:41:56'),
 (5,
  'Yoo',
  'Yoo@naver.com',
  '010-3333-4567',
  'Yoo.com',
  '2023-06-23 10:41:56')]

In [30]:
cursor.execute("select * from users where id in (%d,%d)" % (3,5))
cursor.fetchall()

[(3,
  'Park',
  'park@naver.com',
  '010-1234-4567',
  'park.com',
  '2023-06-23 10:41:56'),
 (5,
  'Yoo',
  'Yoo@naver.com',
  '010-3333-4567',
  'Yoo.com',
  '2023-06-23 10:41:56')]

In [31]:
cursor.execute("update users set username = ? where id = ?", ('Young',2))

In [33]:
cursor.execute("update users set username = '%s' where id = '%d'" % ('Park',2))

In [34]:
cursor.execute("delete from users where id=?",(5,))

In [35]:
cursor.execute("delete from users where id=%d" % 4)